# Python
__pycache__/
*.py[cod]
.env
.venv
poetry.lock

# Node
node_modules/

# VS Code
.vscode/

# Ignore macOS folder attributes files
.DS_Store

# SQLite database
film.db

# Coverage
htmlcov/
.coverage

# Pytest cache
.pytest_cache/


csv/
html/