{% if 'backend' in project_modules %}
# Python
__pycache__/
*.py[cod]
.env
poetry.lock
{% endif %}

{% if 'frontend' in project_modules %}
# Node
node_modules/
{% endif %}

{% if 'macOS' in operating_system %}
# Ignore macOS folder attributes files
.DS_Store
{% endif %}
